#ORACLE_HOME
#Example Value: oracle.home=C:/oracle/xe/app/oracle/product/10.2.0/server
oracle.home=C:/adempiere-cd/progs/oracle-xe/app/oracle/product/10.2.0/server

#sqlplus connection string
oracle.connect.param=adempiere/adempiere