/* Adempiere Root (c) Jorg Janke */
/* $Id: standard.css,v 1.1 2006/04/21 18:04:14 jjanke Exp $ */
body{
	background-color: #FFFFFF;
	color: #000000;
	font-size: 76%;
  	font-family: Verdana, Arial, sans-serif;
  	line-height: 1.3em;
}

a{
	color: #3465a4;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

h1{
	color: #FF0000;
	font-size: x-large;
	margin-bottom: 10px;
	margin-top: 0;
}

h2{
	color: #000066;
	font-size: large;
}

h3{
	color: #0000CC;
	font-size: medium;
	font-style: normal;
	font-weight: bold;
}

h4{
	color: #6600CC;
	font-size: medium;
	font-style: italic;
}

h5{
	color: #660099;
	font-size: medium;
	font-weight: normal;
}

h6{
	font-size: larger;
	font-weight: bold;
}

hr{
	color: #000099;
	padding-bottom: 0;
	padding-top: 0;
}

p{
	text-align: justify;
}

th{
	background-color: #E6E6FA;
	text-align: left;
}

caption{
	color: #660099;
	text-align: left;
	font-style: italic;
	font-weight: bolder;
}


.menuDetail{
	color: #660099;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	padding-bottom: 0;
	padding-left: 20px;
	padding-top: 0;
	text-decoration: none;
}

.menuDetail:hover{
	color: #660099;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	padding-bottom: 0;
	padding-left: 20px;
	padding-top: 0;
	text-decoration: none;
	background-color: #99FFFF;
}

.menuMain{
	color: #000066;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 16px;
	text-align: left;
	text-decoration: none;
}

.menuMain:hover{
	color: #000066;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 16px;
	text-align: left;
	text-decoration: none;
	background-color: #99FFFF;
}

.menuSub{
	color: #000066;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	padding-left: 10px;
	text-align: left;
	text-decoration: none;
}

.menuSub:hover{
	color: #000066;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	padding-left: 10px;
	text-align: left;
	text-decoration: none;
	background-color: #99FFFF;
}

.Cerror{
background:#FF4A4A;
}
.Cmandatory{
background:#9DFFFF;
}
.Cbasket{
	font-size: 9px;
	display: inline;
}
#imgButton{
border-style:outset;
}
#imgButtonPressed{
border-style:inset;
}
