
# export COMPIERE_HOME=/home/trifon/comap-2.5.3b/_production/Compiere2
# export JAVA_HOME=/usr/local/java/jdk1.5.0_05
# export ANT_HOME=/usr/local/java/ant

# Call Ant; 
# Value of property specified on the command line will 
# override the value specified in the build file.

$ANT_HOME/bin/ant -propertyfile build-ID-001.properties -Dmodel.file=xml/model/Model-ID-001.xml -Dview.file=xml/view/View-ID-001.xml -Ddata.file=xml/data/Data-ID-001.xml -DPropertyFile=$COMPIERE_HOME/Compiere.properties $1