/bin
/lib
/install/lib
/test
/backend
/zkwebui/WEB-INF/classes/metainfo/zk/lang-addon.xml
/adempiere/
/com.kkalice.adempiere.migrate/apidoc/
/base/Base.jar
/com.kkalice.adempiere.migrate/lib/migrate.jar
/extend/Extend.jar
/JasperReports/build
/JasperReports/CompiereJasper.jar
/JasperReports/CompiereJasperReqs.jar
/JasperReports/needed/
/JasperReportsWebApp/webApp.ear
/JasperReportsWebApp/webApp.war
/JasperReportsWebApp/webAppEJB.jar
/JasperReportsWebApp/webEJB-client.jar
/migration/dist/
/mobile/dist/
/mobile/WEB-INF/classes/
/zkwebui/WEB-INF/classes/
/org.adempiere.webservice/WEB-INF/classes
/org.adempiere.webservice/dist
/sqlj/sqlj.jar
/webCM/deploy/
/zkwebui/dist/
/zkwebui/WEB-INF/classes/
/build
/target
/extend/test.properties
/install/patch/
/test.properties
/org.adempiere.pos/bin/
/org.adempiere.pos/project/target
/org.adempiere.pos/project/project
/org.adempiere.pos/target
/org.adempiere.pos/dist
dist/
build/
target/
.settings/org.eclipse.ltk.core.refactoring.prefs
.settings/org.zkoss.eclipse.preferences.prefs
migration/oracle.properties
migration/postgresql.properties
.DS_Store
.DS_Store?
._*
/packages/
/posterita/
/zkpackages/
/.metadata/
/.recommenders/
/RemoteSystemsTempFiles/
