bin/
lib/
out/
posterita/posterita/dist/
posterita/posterita/web/WEB-INF/classes/
install/lib/
install/CInstall.jar
zkwebui/WEB-INF/classes/metainfo/zk/lang-addon.xml
adempiere/
com.kkalice.adempiere.migrate/apidoc/
base/Base.jar
com.kkalice.adempiere.migrate/lib/migrate.jar
extend/Extend.jar
JasperReports/CompiereJasper.jar
JasperReports/CompiereJasperReqs.jar
JasperReports/needed/
JasperReportsWebApp/webApp.ear
JasperReportsWebApp/webApp.war
JasperReportsWebApp/webAppEJB.jar
JasperReportsWebApp/webEJB-client.jar
migration/dist/
mobile/dist/
mobile/WEB-INF/classes/
zkwebui/WEB-INF/classes/
org.adempiere.webservice/WEB-INF/classes
org.adempiere.webservice/dist
sqlj/sqlj.jar
webCM/deploy/
zkwebui/dist/
zkwebui/WEB-INF/classes/
build/
extend/test.properties
.settings/org.eclipse.ltk.core.refactoring.prefs
.settings/org.zkoss.eclipse.preferences.prefs
migration/oracle.properties
migration/postgresql.properties
.DS_Store
.DS_Store?
._*
install/patch/
