<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<!-- FIXME: this servlet is kind of a cheap hack; it allows log4j to function from jsf components -->
	<servlet>
		<servlet-name>log4jInitServlet</servlet-name>
		<servlet-class>org.compiere.jsf.Log4JInitServlet</servlet-class>
		<init-param>
			<param-name>log4j-init-file</param-name>
			<param-value>WEB-INF/classes/log4j.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- FIXME: this servlet is for testing only, remove it-->
	<servlet>
		<servlet-name>adempiereInitServlet</servlet-name>
		<servlet-class>
			org.compiere.jsf.AdempiereInitServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<filter>
		<filter-name>jsfFilter</filter-name>
		<filter-class>org.compiere.jsf.JSFFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>jsfFilter</filter-name>
		<url-pattern>/window/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>extensionsFilter</filter-name>

		<filter-class>
			org.apache.myfaces.webapp.filter.ExtensionsFilter
		</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>extensionsFilter</filter-name>
		<url-pattern>*.jsf</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>extensionsFilter</filter-name>
		<url-pattern>/faces/myFacesExtensionResource/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>facesServlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>facesServlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>facesServlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>

</web-app>
