<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
   version="2.4">
	<icon>
		<large-icon>/C32.gif</large-icon>
	</icon>
	
	<display-name>Posterita Ltd Enterprise Software Platform</display-name>
	<description></description>
	
	<!--Standard Parameters - if 0 first non-demo client is used-->
	<context-param>
		<param-name>#AD_Client_ID</param-name>
		<param-value>11</param-value>
	</context-param>
	<context-param>
		<param-name>#AD_Language</param-name>
		<param-value>en_US</param-value>
	</context-param>
	<context-param>
		<param-name>#AD_Org_ID</param-name>
		<param-value>11</param-value>
	</context-param>
	<context-param>
		<param-name>#AD_User_ID</param-name>
		<param-value>100</param-value>
	</context-param>
	<context-param>
		<param-name>#C_BankAccount_ID</param-name>
		<param-value>100</param-value>
	</context-param>
	<context-param>
		<param-name>#SalesRep_ID</param-name>
		<param-value>100</param-value>
	</context-param>
	<context-param>
		<param-name>#AD_Role_ID</param-name>
		<param-value>103</param-value>
	</context-param>
	<context-param>
		<param-name>#W_Store_ID</param-name>
		<param-value>11</param-value>
	</context-param>
	<context-param>
		<param-name>#POS_ID</param-name>
		<param-value>100</param-value>
	</context-param>
	<context-param>
		<param-name>REPORT_DIRECTORY</param-name>
		<param-value>/config/reports/</param-value>
	</context-param>
	
  
  <!-- Standard Action Servlet Configuration (with debugging) -->
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>DisplayChart</servlet-name>
    <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>DisplayReportServlet</servlet-name>
    <servlet-class>org.posterita.core.utils.DisplayReportServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <!-- JFreeChart servlet -->
  
  <servlet-mapping>
	<servlet-name>DisplayChart</servlet-name>
	 <url-pattern>/servlet/DisplayChart</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
	<servlet-name>DisplayReportServlet</servlet-name>
	 <url-pattern>/servlet/DisplayReportServlet/*</url-pattern>
  </servlet-mapping>



    <!-- Session Config -->
  <session-config>
		<session-timeout>60</session-timeout>
	</session-config>

  <!-- Standard Action Servlet Mapping -->

  

  <!-- The Usual Welcome File List -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <filter>
    <filter-name>ResponseOverrideFilter</filter-name>
    <filter-class>org.displaytag.filter.ResponseOverrideFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>ResponseOverrideFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ResponseOverrideFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>  	
	
</web-app>
