div#status{
	font-size: 12px;
	font-weight: bold; 	
}
div#uploadCsv{
	height: 150px;
	font-size: 14px;
	font-weight: bold; 
	border-top: solid 1px #000;
	border-bottom: solid 1px #000;
}

div#priceLists{
	font-size: 10px;
	font-weight: bold; 
	border-top: solid 1px #000;
	border-left: solid 1px #000;
	border-right: solid 1px #000;
	border-bottom: solid 1px #000;
	background-color: #dddddd;
}

select#priceList{
	font-size: 10px;
	font-weight: bold; 
	border-top: solid 1px #000;
	border-left: solid 1px #000;
	border-right: solid 1px #000;
	border-bottom: solid 1px #000;
	background-color: #ffffff
}



.descButton {
	float:left;
	border:solid 1px #333333;
	margin-right: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
	padding:6px;
	font-size:8px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	background-color:#333333;
	cursor:pointer;
}

.upbutton {
	float:left;
	border:solid 1px #333333;
	margin-right: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
	padding:6px;
	font-size:10px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	background-color:#333333;
	cursor:pointer;
}

div#detailsInfo label{
	width : 190px;
	display:block;
	/*border: solid 1px #000;*/
	float:left;
}

div#invDescription label{
	width : 100px;
	display:block;
	font-size: 12px;
	float:left;
}

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

.highlighted { background: yellow; }

.box .filter { display: none; }


div.popup {
  max-width: 600px;
  border: 1px solid red;
  padding: 5px;
  background-color: white;
  /* The following properties should not be changed */
  position: absolute;
}
.popup_overlay {
  background-color: #000000;
  /* The following properties should not be changed */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  z-index:9999;
}

span.popup_link, a.popup_link {
  cursor: pointer;
  border-bottom: 1px dotted;
}

.popup_draghandle {
  cursor: move;
}
