/* Logotype */
#logo {
	float: left;
	margin:0;
	padding:0;
	width:265px;
	height:57px;
	overflow:hidden;
}
	#logo a {
		position:relative;
		display:block;
		width:265px;
		height:57px;
	}
	#logo a span {
		position:absolute;
		left:0; top:0;
		display:block;
		width:265px;
		height:57px;
		background:url(../images/logo.gif) left top no-repeat;
	}