/*MAIN POS MENU CSS*/

#posHeader{
background: #9A9A9A url("../images/newUI/topmenubg.gif") repeat-x;
position: relative;
float: left;
width: 100%;}


#backButn{
position: relative;
float: left;
width: 28px;
cursor: pointer;
}

#logo{
position: relative;
width: 133px;
float: left;
}

#mainTitle{
position: relative;
color: #FFFFFF;
font-family: tahoma, san-serif;
font-size: 13px;
font-weight: bold;
text-transform: uppercase;
margin: 10px 0 0 10px;
float: left;

}
#acDetailsContainer{
margin: 5px 10px 0 10px;}

#acDetailsL{
position: relative;
margin: 0;
float: right;
color: #fff;
font-family: tahoma, san-serif;
font-size: 11px;
font-weight: normal;
padding-right: 10px;

}

#acDetailsR{
position: relative;
margin: 0;
float: right;
color: #fff;
font-family: tahoma, san-serif;
font-size: 11px;
font-weight: normal;
}

#systemMenuContainer{
background: #9A9A9A url("../images/newUI/pricedetbg.gif") no-repeat;
height: 41px;
}

#systemMenuBg{
background: url("../images/newUI/pricedetbgtile.gif") repeat-x;
height: 41px;
position: relative;
margin: 0 0 0 5px;
}

#choosePOS{
	color: #FFFFFF;
	text-align: center;
	font-size: 11pt;
}

#systemMenu{
padding-top: 3px;
padding-left: 13px;}


img.center{
padding-right: 10px;
float: left;
}

.posSubNavContainer, .category h1{
font-size: 11px;
font-family: tahoma;
color: #fff;
text-transform: uppercase;
padding: 6px 0 10px 0;
margin-top: -40px;
margin-left: 0px;
text-indent: 30px;

}

#categoryImg 
{
	height: 19px;
	width: 18px;
	margin-right: 13px; 
	margin-top: 5px;
	margin-left: -30px;
}

#posNavContainer { 
	margin: 0; 
	padding: 0; 
	}

#posNavContainer ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	line-height: 30px;
}

#posNavContainer li { 
	margin: 0; 
	padding: 0; 
	}

#posNavContainer a{
	display: table-row;
	color: #777;
	padding: 2px 0px 2px 20px;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
	text-transform: normal;
	font-family: tahoma, verdana, san-serif;
	width: 1em;
	margin: 0px;
	text-indent: 20px;
	}

#posNavContainer a:hover{
	color: #333;
	}

#posSubNavContainer .posNews h1{
	font-size: 11px;
	font-family: tahoma;
	color: #fff;
	text-transform: uppercase;
	padding: 6px 0 10px 0;
	margin-top: -30px;
	margin-left: 0px;
	text-indent: 30px;
	background: url(../images/newUI/hicon-news.gif) 0 0 no-repeat;
}

#posSubNavContainer .posHelp h1{
	font-size: 11px;
	font-family: tahoma;
	color: #fff;
	text-transform: uppercase;
	padding: 6px 0 10px 0;
	margin-top: -30px;
	margin-left: 0px;
	text-indent: 30px;
	background: url(../images/newUI/hicon-help.gif) 0 0 no-repeat;
}


#posSubNavContainer .posDonate h1{
	font-size: 11px;
	font-family: tahoma;
	color: #fff;
	text-transform: uppercase;
	padding: 6px 0 10px 0;
	margin-top: -30px;
	margin-left: 0px;
	text-indent: 30px;
	background: url(../images/newUI/hicon-donate.gif) 0 0 no-repeat;
}

.currentpage {
	background: url(../images/newUI/navbg.gif) left;
	background-repeat: no-repeat;
	width: 100%;
	margin-left: 1px;
}

.currentpage span{
	color: #3B6DAA;
}

/*END*/


/*POS SUB CONTENT MENU CSS*/

#posSubNavContainer { 
	margin-right: 0px; 
	margin-left: 0px; 

	}

#posSubNavContainer ul{
	margin: 0px 0 0 0 ;
	padding: 0;
	list-style-type: none;
	line-height: 12px;
	}

#posSubNavContainer li { 
	margin: 0 0 0 0px; 
	}

#posSubNavContainer a{
	width: 98%;
	text-align: left;
	color: #777;
	display: block;
	padding: 5px 0 5px 0px;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
	text-transform: normal;
	font-family: tahoma, verdana, san-serif;
	text-indent: 0px;
	
	border-top: 1px solid #ddd}

#posSubNavContainer a:hover{
	color: #3B6DAA;
	}


/*END*/


#rightContainer{
margin: 0;
padding: 0;
min-height: 525px;
}

.rightContainer{
background:#EBEFF7 url(../images/newUI/palebluebg.gif) repeat-y 0 0;
}


#mainHeaderTitleContainer{
text-align: left;
margin-top: 0px;
padding-left: 20px;
border-bottom: 1px solid #fff; 
height: 30px;}


#mainHeaderTitleContainer h1{
font-size: 14px;
font-family: tahoma;
color: #669ACF;
text-transform: uppercase;
padding: 5px 0 0 0;
margin: 0;

}

.liquid-round {
padding-right: 5px;
float: left;
width:32%;
/*  set to 49% for 2 column layout. can also set exact px width if you dont want to auto resize width */
margin-top: 5px;
margin-right: auto;
margin-bottom: 5px;
margin-left: auto;
background:#fff url(../images/newUI/leftside.gif) repeat-y left top;
position: relative;

}

.top {
width:100%;
height:40px;
background:url(../images/newUI/top.gif) no-repeat left top;
}

.top span {
display:block;
position:relative;
height:40px;
background:url(../images/newUI/top-right.gif) no-repeat right top;
}

.center-content {
position:relative;
background:url(../images/newUI/rightside.gif) repeat-y right top;
padding:1px 20px 1px 25px;
margin:-1px 0 -50px 0;
}

.bottom{
width:100%;
height:60px;
background:url(../images/newUI/bottom.gif) no-repeat left bottom;
}

.bottom span {
display:block;
/*remove because of ie position:relative;*/
height:60px;
background:url(../images/newUI/bottom-right.gif) no-repeat right top;
}

 .mainContainer{
background: #fff;
padding: 5px;
}

#mainFields{
padding: 0px;
margin: 0;
background: #FFF;
}

#mainFields td, #mainFields table, #mainFields tr{
background: #DFDFDF;
color: #51585F;
font-family: tahoma, san-serif;
font-size: 12px;
font-weight: bold;
text-transform: uppercase;
padding: 0px 0 0 0;
margin: 0;
}

.footer{
background: #9A9A9A url("../images/newUI/footerbg.gif") repeat-x;
padding: 8px;
margin: 0;
height: 41px;
color: #FFFFFF;
font-family: tahoma, san-serif;
font-size: 11px;
font-weight: bold;
border-top: #FFFFFF solid 1px;
position: relative;
}

.floatRight{
	float: right;
}

.floatLeft{
	float: left;
}

#newHeader, #footer, #body, .form{
	padding: 0px;
	margin: 0px;
}

#content{
	padding: 0px;
	min-height: 525px;
	margin: 0px;
}

#search{
	display:none;
	border:solid 1px #FFF;
	background-color: #EBEFF7;
	padding: 10px;
	width : 280px;
	height: 100px;
	position: absolute;
	z-index: 8000;
	color: #333;
	font-family: tahoma, san-serif;
	font-size: 12px;
	text-align: center;
	left: 40%;
	top: 40%;
}

#bulletList { 
	margin-right: 0px; 
	margin-left: 0px; 
}

#bulletList ul{
	margin: 0px 0 0 0 ;
	padding: 0;
	list-style-type: none;
	line-height: 12px;
}

#bulletList li { 
	margin: 0 0 0 0px; 
}

#bulletList a{
	width: 98%;
	text-align: left;
	color: #777;
	display: block;
	padding: 8px 0 3px 0px;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
	text-transform: normal;
	font-family: tahoma, verdana, san-serif;
	text-indent: 18px;
	background: url(../images/newUI/icon-newwindow.gif) no-repeat 0 8px;
	border-top: none
}

#bulletList a:hover{
	color: #3B6DAA;
}

#bulletList2 { 
	margin-right: 0px; 
	margin-left: 20px; 
}

#bulletList2 ul{
	margin: 0px 0 0 0 ;
	padding: 0;
	list-style-type: none;
	line-height: 12px;
}

#bulletList2 li { 
	margin: 0 0 0 0px; 
}

#bulletList2 a{
	width: 98%;
	text-align: left;
	color: #777;
	display: block;
	padding: 8px 0 3px 0px;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
	text-transform: normal;
	font-family: tahoma, verdana, san-serif;
	text-indent: 18px;
	background: url(../images/newUI/bullet-arrow.gif) no-repeat 0 8px;
	border-top: none
}

#bulletList2 a:hover{
		color: #3B6DAA;
	}

#rightContainer{
	margin: 0;
	padding: 0;
}

.rightContainer{
	background:#EBEFF7 url(../images/newUI/palebluebg.gif) repeat-y 0 0;
}

#rightHeaderTitleContainer a{
	text-decoration: none;
	font-size: 11px;
	color: #777;
	text-align: left;
}

#rightHeaderTitleContainer a:hover{
	text-decoration: none;
	font-size: 11px;
	color: #3B6DAA;
}


#rightHeaderTitleContainer{
	text-align: center;
	margin-top: 3px;
	padding-left: 20px;
	border-bottom: 1px solid #fff; 
	height: 27px;
}

#mainHeaderTitleContainer{
	text-align: center;
	margin-top: 0px;
	padding-left: 20px;
	border-bottom: 1px solid #fff; 
	height: 30px;
}


#mainHeaderTitleContainer h1{
	font-size: 14px;
	font-family: tahoma;
	color: #669ACF;
	text-transform: uppercase;
	padding: 5px 0 0 0;
	margin: 0;
}

#liquid-roundFull {
	padding-right: 0px;
	float: left;
	width:99%;
	/*  set to 49% for 2 column layout. can also set exact px width if you dont want to auto resize width */
	margin:5px auto;
	background:#fff url(../images/newUI/leftside.gif) repeat-y left top;
}

#liquid-roundHalf {
	padding-right: 7px;
	float: left;
	width:49%;
	/*  set to 49% for 2 column layout. can also set exact px width if you dont want to auto resize width */
	margin:0px auto;
	background:#fff url(../images/newUI/leftside.gif) repeat-y left top;
}

.browse{
	background: url(../images/newUI/butn-browse.gif) no-repeat 0 1px;
	width: 89px;
	height: 22px;
	margin: 0px 0 0px 5px;
	padding: 0;
	cursor: pointer; /* hand-shaped cursor */
	  cursor: hand; /* for IE 5.x */
	border: 0;
	font-size: 10px;
	text-transform: uppercase;
}

.radioBox{
	padding: 0;
	margin: 0;
}

#generalSystemActions{
	position: relative;
	margin: 0;
	float: right;
	color: #fff;
	font-family: tahoma, san-serif;
	font-size: 11px;
	font-weight: normal;
	padding: 3px 8px 0 10px;
}

#generalSystemActions img{
	margin-right:2px;
}

#acDetailsR{
	position: relative;
	margin: 0;
	float: right;
	color: #fff;
	font-family: tahoma, san-serif;
	font-size: 11px;
	font-weight: normal;
}

.strong{
	font-weight: bold;
}

#systemMenu{
	padding-top: 3px;
	padding-left: 13px;
	color: #fff;
	font-size: 11px;
	text-align: center;
}

#systemActionContainer{
	text-align: center;
	padding: 5px 0 0 0;
}
#systemActionContainer img{
	margin: 0px 2px 0 0;
	cursor: pointer;
}

#loginContainer{
	background: #fff ;
	position: relative;
	clear: both;
	height: 100%;
	font-size: 12px;
}

#loginContainer td{
	font-size: 12px;
	font-weight: bold;
	color: #666;
}
#loginContainer a{
	color: #3B6DAA;
}

#loginContainer a:hover{
	color: #3B6DAA;
	text-decoration: none;
}

#pinLoginContainer, .paleBlueBg{
	background: #EBEFF7 url("../images/newUI/palebluebg.gif") repeat-y;
	margin: 0 0 0 0px;
	clear: both;
	height: 100%;
}

#loginPinContent td{
	font-size: 12px;
	font-weight:  bold;
	text-transform: uppercase;
	color: #666;
}

.input{
	width: 200px;
	height: 30px;
	font-size: 12px;
	font-weight: normal;
}

.butnLogin{
	background: url(../images/newUI/butn-login.gif) no-repeat center top;
	width: 81px;
	height: 25px;
	margin: 0px 0 0px 0px;
	padding: 0;
	cursor: pointer; /* hand-shaped cursor */
	  cursor: hand; /* for IE 5.x */
	border: 0;
	text-indent: -1000em;
}

.systemMsg{
	padding-top: 8px;
	text-transform: none;
}

input.usernameMissing, input.passwordMissing, input.pinnumberMissing{
	border: 1px solid #CC0000;
}

#pinLoginContainer input{
	width: 162px;
	height: 30px;
	font-size: 20px;
	margin: 5px 0;
}

#loginPinContent input{
	height: 30px;
	font-size: 12px;
	font-weight: normal;
}

.divsystemerror{
	width: 250px;
	color: #CC0000;
	margin-bottom: 0px;
}
.systemerror{
	//background: url(../images/newUI/icon-err.gif) no-repeat 0 top;
	width: 30px;
	height: 35px;
	float: left;
	margin-right: 10px;
}

#loginContent{
	padding: 55px 0 30% 0;
}

#loginPinContent{
	padding: 15% 0 15% 0;
}

.systemKey{
	background: url(../images/newUI/singlekey.gif) no-repeat 0 top;
	width: 51px;
	height: 51px;
	float: left;
	margin: 0 5px 5px 0;
	cursor: pointer;
}

.systemKey div{
	color : #333;
	display: block;
	width: 51px;
	height: 36px;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	padding-top: 15px;
}

.numPad{
	width: 168px;
}

.dateTag{
	font-size: 11px;
	color: #666;
	width: 20px;
	border-right: 1px solid #999;
	padding-right: 12px;
	text-align: center;
	clear: both;
}

.date{
	font-size: 13px;
}

.month, .upperCase{
	text-transform: uppercase;
	font-weight: bold;
}

.newsContent{
	font-size: 11px;
	color: #666;
	clear: left;
	margin-left: 40px;
	margin-top: -28px;
}

.newsContainer{
width: 100%;
clear: both;
margin-bottom: 15px;

}

.infoContainer{
	font-size: 11px;
	color: #666;
}

.reg10UC{
	font-weight: normal;
	font-size: 10px;
	text-transform: uppercase;
}

.reg10{
	font-weight: normal;
	font-size: 10px;
}

.bold11{
	font-weight: bold;
	font-size: 11px;
}

.bold13{
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
}

#headerContainerRight{
	background: #9A9A9A url("../images/newUI/pricedetbg.gif") no-repeat;
	height: 41px;
}

#headerRight{
	background: url("../images/newUI/pricedetbgtile.gif") repeat-x;
	height: 41px;
	position: relative;
	margin: 0 0 0 5px;
}

#donate a{
	text-align: center;
}

#rightBtnContainer{
	background: #EBEFF7 url("../images/newUI/palebluebg.gif") repeat-y;
	position: relative;
	margin: 0 0 0 0px;
	border-top: 1px solid #fff; 
	clear: both;
	height: 100%;
}

#rightBtn{
	padding: 6px;
	color: #669ACF;
	font-family: tahoma, san-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	clear: both;
}

#messagebox div, .errormsg{
	background: url(../images/newUI/icon-err.gif) no-repeat left center;
	min-height: 35px;
	line-height: 35px;
}

.errormsgs {
	background-color: #CC1515;
	color:#FFFFFF;
	z-index: 9000;
	background: url(../images/newUI/icon-err.gif) no-repeat left center;
	background-repeat: no-repeat;
	background-position: 5px 5px;
	padding-left: 40px;
	padding-top: 5px;
	min-height: 35px;
	line-height: 35px;
}

#errorsbox
{
	vertical-align: middle;
	background-color:CC1515;
	border: solid 1px #D41616;
	padding: 4px;
}

.errorRight{
	height: 99%;
	text-align: center;
	text-transform: uppercase;
	color: #CC1515;
	vertical-align: middle;
	font-family: tahoma, san-serif;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px solid #FFF;
}