#controls, div#centerShortcuts{
background: #9A9A9A url("../images/newUI/footerbg.gif") repeat-x;
padding: 8px;
margin: 0;
height: 41px;
color: #FFFFFF;
font-family: tahoma, san-serif;
font-size: 11px;
text-align: center;
}

body{
padding: 0;
margin: 0;
background: #DFDFDF;
}

.divider{
color: #AEAEB0;
padding: 0 2px 0 2px;
}

#posHeader{
background: #9A9A9A url("../images/newUI/topmenubg.gif") repeat-x;
position: relative;
float: left;
width: 100%;}


.backButn{
position: relative;
float: left;
width: 28px;
cursor: pointer;
}

#logo{
position: relative;
width: 133px;
float: left;
}

#mainTitle{
position: relative;
color: #FFFFFF;
font-family: tahoma, san-serif;
font-size: 13px;
font-weight: bold;
text-transform: uppercase;
margin: 10px 0 0 10px;
float: left;

}
#acDetailsContainer{
margin: 5px 10px 0 10px;}

#acDetailsL{
position: relative;
margin: 0;
float: right;
color: #fff;
font-family: tahoma, san-serif;
font-size: 11px;
font-weight: normal;
padding-right: 10px;

}

#acDetailsR{
position: relative;
margin: 0;
float: right;
color: #fff;
font-family: tahoma, san-serif;
font-size: 11px;
font-weight: normal;
}

.strong{
font-weight: bold;
}

#priceContainer{
background: #9A9A9A url("../images/newUI/pricedetbg.gif") no-repeat;
height: 41px;
}

#priceContainerBg{
background: url("../images/newUI/pricedetbgtile.gif") repeat-x;
height: 41px;
position: relative;
margin: 0 0 0 5px;
}

#priceValue{
color: #FFFFFF;
font-family: tahoma, san-serif;
font-size: 16px;
font-weight: bold;
text-align: center;
padding: 10px 0 0 0;
}

#priceListDetailsContainer{
background: #EBEFF7 url("../images/newUI/palebluebg.gif") repeat-y;
position: relative;
margin: 0 0 0 0px;
clear: both;
}

#priceListDetails{
padding: 10px;
color: #669ACF;
font-family: tahoma, san-serif;
font-size: 12px;
font-weight: bold;
text-align: center;
clear: both;
}

.productValue, .discountDetails{
color: #333;
font-family: tahoma, san-serif;
font-size: 11px;
font-weight: bold;
margin-left: 5px;
}

#pgTitle{
color: #fff;
font-family: tahoma, san-serif;
font-size: 11px;
font-weight: bold;
text-transform: uppercase;
position: relative;
margin-left: 170px;
padding-top: 25px;
}

#productFieldsContainer{
background: #DFDFDF;
padding: 0px;
margin: 0px;
}

#productFields{
padding: 1px;
margin: 0;
background: #DFDFDF;
}

#productFields td, #productFields table, #productFields tr{
background: #DFDFDF;
color: #51585F;
font-family: tahoma, san-serif;
font-size: 12px;
font-weight: bold;
text-transform: uppercase;
padding: 0px 0 0 0;
margin: 0;
}

#productFields form{
padding: 0;
margin:0;

}

input,  textarea{
background-color: #fff;
border: 1px solid #9A9A9A;
height: 18px;
padding: 0px;
margin: 0;
color: #51585F;
font-family: tahoma, san-serif;
font-size: 12px;
font-weight: normal;

}

 input:focus,  textarea:focus{
  border:1px solid #9ACF30;
  background:#E3F3C3;
}


#productDetailsContainer, div#discountDetailsContainer{
background: #EBEFF7 url("../images/newUI/palebluebg.gif") repeat-y;
position: relative;
margin: 0 0 0 0px;
clear: both;
border-top: 1px solid #fff; 
height: 100%;
line-height: 16px;
}

#productDetails, div#discountDetails{
padding: 10px;
color: #9A9A9A;
font-family: tahoma, san-serif;
font-size: 11px;
font-weight: normal;
text-align: left;
}

div#productImage{
background: #EBEFF7;
width: 90px;
height: 90px;
float: right;
}

#editProductContainer, .rightColSubContainer{
position: relative;
margin: 0;
border-top: 1px solid #fff; 
}

#editProductDetails{
position: relative;
padding: 10px;
color: #9A9A9A;
font-family: tahoma, san-serif;
font-size: 12px;
font-weight: bold;
text-align: center;
}

#editProductDetails input{
margin-bottom: 10px;
margin-right: 5px;
}

#customerContainer, #changePricelistContainer, #choosePrintDetailsContainer, .inventoryDetails{
position: relative;
margin: 0;
border-top: 1px solid #fff; 
}

#choosePrintDetailsContainer span{
	font-family: tahoma, san-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	text-align: left;
}

#choosePrintDetailsContainer table, input{
	margin-top: 8px;
}

.inventoryDetails table{
	margin-top: 5px;
	margin-bottom: 5px;
}

#changePricelist{
	margin-top: 10px;
	text-transform: uppercase;
	color: #333;
	font-weight: bold;
}

#customerDetails{
position: relative;
padding: 10px;
color: #9A9A9A;
font-family: tahoma, san-serif;
font-size: 12px;
font-weight: bold;
text-align: left;
}

#paymentContainer{
position: relative;
margin: 0;
border-top: 1px solid #fff; 
}

#paymentDetails{
padding: 10px;
color: #9A9A9A;
font-family: tahoma, san-serif;
font-size: 12px;
font-weight: bold;
text-align: center;
}

#quickDiscountDetails{
position: relative;
border-top: 1px solid #fff;
padding: 10px;
color: #9A9A9A;
font-family: tahoma, san-serif;
font-size: 12px;
font-weight: bold;
text-align: left;
width: 300px;
display:block;
float:left;
}

#docStatus{
position: relative;
border-top: 1px solid #fff;
padding: 10px;
color: #9A9A9A;
font-family: tahoma, san-serif;
font-size: 10px;
font-weight: bold;
text-align: left;
width: 300px;
display:block;
float:left;
}

#paymentDetails h1{
padding-bottom: 5px;
margin: 0;
color: #9A9A9A;
font-family: tahoma, san-serif;
font-size: 12px;
font-weight: bold;
text-align: center;
}

#contentContainer{
position: relative;
margin: 0 0 0 0px;
clear: both;
border-top: 1px solid #fff; 
height: 100%;
}

#content{
padding: 0px;
color: #333333;
font-family: tahoma, san-serif;
font-size: 12px;
font-weight: bold;
text-align: center;
}

#contentContainer div{
	background: #DFDFDF;
}


#systemButnContainer{
position: relative;
margin: 0 0 0 0px;
clear: both;
border-top: 1px solid #fff; 
height: 100%;
}

#systemButn{
padding: 6px;
color: #669ACF;
font-family: tahoma, san-serif;
font-size: 12px;
font-weight: bold;
text-align: left;
}

#checkoutContainer{
background: #EBEFF7 url("../images/newUI/palebluebg.gif") repeat-y;
position: relative;
margin: 0 0 0 0px;
border-top: 1px solid #fff; 
clear: both;
height: 100%; 
}

#checkout{
padding: 6px;
color: #669ACF;
font-family: tahoma, san-serif;
font-size: 12px;
font-weight: bold;
text-align: center;
clear: both;
}

.itemTitleList{
background: #929292;
color: #fff;
font-family: tahoma, san-serif;
font-size: 11px;
font-weight: bold;
}

.itemTitleList th{
padding: 4px;
border: none;
text-align: left;
}


.highlight { 
background-color: #9ACF30;
font-family: tahoma, san-serif;
font-size: 11px;
font-weight: normal;
color: #fff;
text-align: left;
}

.highlight td{
padding: 4px;
border: none;
}
 
.totalItem{
text-align: right;
}
 
.totalSales{
text-align: right;
}

.oddRow{
background: #F7F7F7;
font-family: tahoma, san-serif;
font-size: 11px;
font-weight: normal;
text-align: left;
}

.oddRow td{
padding: 4px;
border: none;
}

.evenRow{
background: #FFF;
font-family: tahoma, san-serif;
font-size: 11px;
font-weight: normal;
text-align: left;
}

.evenRow td{
padding: 4px;
border: none;
}

.itemsTotal{
background: #fff;
color: #333;
font-family: tahoma, san-serif;
font-size: 11px;
font-weight: bold;
}

.itemsTotal td{
background: #fff;
padding: 4px;
border-top: 2px solid #656565; 
border-bottom: 2px solid #656565;
border-left: none;
border-right: none;
text-align: left;
}

/* Auto complete style */
div.autocomplete {
      position: absolute;
      /*width:250px;*/
      height:200px; 
      display:none;     
      background-color:white;
      border:1px solid #888;
      margin:0px;
      padding:0px;
      overflow: auto;
      font-size: 11px;
  	  font-family: tahoma, san-serif;
  	  z-index: 9000;
}

div.autocomplete ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}

div.autocomplete ul li.selected {
	 background-color: #9ACF30;
 }
 
div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;  
  cursor:pointer;
  letter-spacing: 1px;
  font-size: 11px;
  font-family: tahoma, san-serif;
}
div.notfound {
	background-color: #ffb;	
}

div.errormsg {
	padding: 10px;
	border: solid 2px #BA0B0B;
	background-color: #CC1515;
	color:#FFFFFF;
	position:absolute;
	float:left;
	z-index: 9000;
	width:300px;
	min-height: 60px;
	padding-left: 60px;
	background-image: url(../images/pos/icon-error.gif);
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

div.mask {
	position:absolute;
	float:left;
	z-index: 8500;
	background-image: url(../images/pos/maskBG.png);
	top:0px;
	left: 0px;
}

div#indicator {
	top:0px;	
	border: solid 2px #CC1515;
	padding: 5px 5px 5px 5px;
	display: none;
	background-color: #FFFFFF;
	z-index:10000;
	right: 0px;
	position: absolute;
}

div#cashPanel, div#cardPanel, div#chequePanel, div#debitPanel, div#mixPanel, div#PINPanel {
	display:none;
	border:solid 10px #FFF;
	background-color: #EBEFF7;
	padding: 20px;
	width : 400px;
	position: absolute;

	margin: 0px;
	z-index: 8000;
	color: #333;
	font-family: tahoma, san-serif;
	font-weight: bold;
	font-size: 14px;
}

div#cash, div#card, div#cheque, div#mix, div#debit{
	overflow: auto;
}

div#PINPanel {
	width : 200px;
	height : 100px;
	position: absolute;
	z-index: 8000;
}

div#reciept {
	text-align: center;
}

div#reciept h1, div#reciept h2, div#reciept h3 {
	text-align: center;
}

div.floatDown {
	position:absolute;
	top: 560px;
}

div#shoppingCart, div#cart {
	height: 450px;
	overflow: auto;
}

.pointer{
	cursor:pointer;
}

.selected{
	border:solid 1px #9ACF30;
	cursor:pointer;
}

.alignDetails td{
	border: 0px;
	vertical-align: top;
	text-align: left;
	font-family: tahoma, san-serif;
	font-size: 11px;
	font-weight: normal;
}

br.clear{
	clear:both;
}

tr#customerName, tr#customerCode , tr#creditAvailable, tr#creditLimit, tr#openBalance{
	display: none;
}

#receipt{
	overflow: auto;
	background: #EBEFF7 url("../images/newUI/palebluebg.gif") repeat-y;
	border-top: 1px solid #fff; 
	line-height: 16px;
	height: 450px;
}

#receiptDetails{
	margin-left: 10px;
}

.buttonLeft, .buttonRight{
	background: url("../images/newUI/pricedetbg.gif") repeat;
	border: 1px solid #FFF;
	line-height: 23px;
	float: left;
	height: 21px;
	width: 95px;
	font-family: tahoma, san-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFF;
	margin-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: middle;
	text-align: center;
	margin-top:5px;
	margin-bottom: 5px; 
	cursor: pointer;
}

.buttonRight{
	position: absolute;
	margin-left: 110px;
}

div#leftBtnContainer, div#rightBtnContainer{
	position: relative;
	margin: 0 0 0 0px;
	padding-top: 3px;
	padding-bottom: 0px;
	border-top: 1px solid #fff; 
	height: 38px;
	padding-left: 7px;
}

div#rightBtnContainer, .paleBlueBg{
	background: #EBEFF7 url("../images/newUI/palebluebg.gif") repeat-y;
	padding-left: 0px;
}

div#discountDetails{
	height: 430px;
	position: relative;
}

div#centerShortcuts{
	line-height: 41px;
}

#discount td{
	text-align: left;
	padding-left: 5px;
	background-color: #FFFFFF;
}

div#frameHandle{
	text-align: right;
	border-bottom: solid 1px #CCC;
	padding: 2px;
	background-color: #333;	
}

div#frameHandle a{
	text-decoration: none;
	color: #FFF;
	font-weight: bold;
}

.error {
	font-size: 11px;
	color: white;
	text-decoration: blink;
	background-color: #FF0000;
}

#pop_overlay
    {
         display: none;
         position: fixed;
         width: 100%;
         height: 100%;
         top: 0px;
         left: 0px;
         background: #000000;
         filter: alpha(opacity=60);
         -moz-opacity: 0.6;
         opacity: 0.6;
    }

    #pop_container
    {
         display: none;
         position: fixed;
         width: 100%;
         height: 100%;
         top: 0px;
         left: 0px;
         background: transparent;
    }

    #pop_inner
    {
         display: block;
         width: 320px;
         height: 320px;
         margin: 120px auto 0 auto;
         background: #FFFFFF
         border: 1px solid #999999
         text-align: center;
    }

#productCount{
	font-size: 14px;
	font-weight: bold;
	vertical-align: middle;
	color: #CC0000;
	text-transform: uppercase;
	line-height: 450px;
	margin-left: 30%;
}

.noProduct{
	color: #CC0000;
	font-size: 12px;
	font-weight: bold;
}

.salesFiguresHeader{
background: #929292;
color: #fff;
font-family: tahoma, san-serif;
font-size: 11px;
font-weight: bold;
}

.salesFiguresHeader th{
padding: 2px;
border: none;
text-align: left;
}

.salesFiguresRow{
	background: #DFDFDF;
}

.captionStyle{
	padding: 10px;
	color: #669ACF;
	font-family: tahoma, san-serif;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0px;
}

#productImage img{
	padding-top: 10px;
}

#productEditFieldsContainer
{
background: #fff;
padding: 0px;
margin: 0px;
height: 100%;
color: #666;
}

#productEditFieldsContainer .prodFields{
width: 270px;}

#productEditFieldsContainer .prodTaxFields{
width: 100%;}

#productEditFieldsContainer .prodDescription
{
font-size: 11px;
width: 270px;
padding: 0;
margin: 0;}

#productEditFieldsContainer select
{
border: 1px solid #777;
font-size: 11px;
}

#productEditFieldsContainer td
{
font-size: 11px;
}

#productDetails td{
	font-size: 11px;	
}

#productEditFieldsContainer .checkbox, #productEditFieldsContainer .radioBox{
	vertical-align: middle;
}

#productDetails .checkbox{
	vertical-align: middle;
}