/* Adempiere HTML UI (c) Jorg Janke */
/* $Id: standard.css,v 1.1 2006/04/21 18:03:35 jjanke Exp $ */

a {
	color: #000066;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	margin-left: 0;
	margin-top: 0;
}

h1 {
	color: #FF0000;
	font-size: 16px !important;
	margin-bottom: 10px;
	margin-top: 0;
}

h2 {
	color: #000066;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
}

h3 {
	color: #0000CC;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
}

h4 {
	color: #6600CC;
	font-size: 14px;
	font-style: italic;
}

h5 {
	color: #660099;
	font-size: 14px;
	font-weight: normal;
}

h6 {
	font-size: 12px;
	font-weight: bold;
}

hr {
	color: #000099;
	padding-bottom: 0;
	padding-top: 0;
}

th {
	background-color: #E6E6FA;
	text-align: left;
}

p {
	text-align:justify;
}

.menuDetail{
	color: #660099;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	padding-bottom: 0;
	padding-left: 20px;
	padding-top: 0;
	text-decoration: none;
}

.menuDetail:hover{
	background-color: #99FFFF;
	color: #660099;
	font-size: 12px;
	padding-bottom: 0;
	padding-left: 20px;
	padding-top: 0;
	text-decoration: none;
}

.menuMain{
	color: #000066;
	font-size: 14px;
	text-align: left;
	text-decoration: none;
}

.menuMain:hover{
	background-color: #99FFFF;
	color: #000066;
	font-size: 14px;
	text-align: left;
	text-decoration: none;
}

.menuSub{
	color: #000066;
	font-size: 12px;
	padding-left: 10px;
	text-align: left;
	text-decoration: none;
}

.menuSub:hover{
	background-color: #99FFFF;
	color: #000066;
	font-size: 12px;
	padding-left: 10px;
	text-align: left;
	text-decoration: none;
}

#menuDetail{
	color: #660099;
	display: block;
	font-size: 12px;
	margin-bottom: 1px;
	margin-top: 1px;
	padding-right: 20px;
	text-align: right;
	text-decoration: none;
}

#menuMain{
	border-top: groove;
	color: #000066;
	display: block;
	font-size: 14px;
	margin-bottom: 1px;
	margin-top: 5px;
	text-align: left;
	text-decoration: none;
}
