/* Compiere (c) Jorg Janke */
/* $Id: menu.css,v 1.1 2009/04/15 11:26:44 vinhpt Exp $ */

body	{
	/* Manu #F4FCFF; */
	background-color: #FFFFFF;
	color: #000000;
	font-size: 10px;
}

input {
	background-color: #FFFFFF;
	font-size: 8pt;
	font-family: verdana, arial;
	border: solid gray 1px;
}

li{
	margin-left:10px;
	padding-left:5px;
}

ul{
	padding: 0;
	margin: 0 0 0 5px;
	text-indent: -10px;
}

td {
	font-size: 10px;
}

.menuTable	{
	border-left: none;
	border-right: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.menuHeader	{
	background-color : #C9D9F5;
	padding:10px 10px 10px 10px;
	border-bottom: 0px solid #000000;
}

.menuCenter	{
	width: 100%;
	background-color : #FFFFFF;
	border: none;
	padding:0px 0px 0px 15px;
	border-top: 1px solid #003FAF;
	border-bottom: 1px solid #003FAF;
	margin: 0px 0px 0px 0px;
}

.menuFooter	{
	background-color : #C9D9F5;
	padding:5px 5px 5px 5px;
}


.menuWindow	{
	list-style-image: url(/adempiere/images/mWindow.gif); /* Menu Item */
	list-style-type: circle;
}

.menuWorkflow	{
	list-style-image: url(/adempiere/images/mWorkFlow.gif); /* Menu Item */
	list-style-type: disc;
}

.menuReport	{
	list-style-image: url(/adempiere/images/mReport.gif); /* Menu Item */
	list-style-type: disc;
}

.menuProcess	{
	list-style-image: url(/adempiere/images/mProcess.gif); /* Menu Item */
	list-style-type: disc;
}

.menuSummary	{
	font-weight: bold; /* Menu Closed */
	list-style-image: url(/adempiere/images/mClosed.gif);
	list-style-type: square;
}
