<?xml version="1.0" ?>

<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 0.4" "http://jpf.sourceforge.net/plugin_0_4.dtd">

<plugin id="org.compiere.compilo.importer.jasperreports" 
        version="311.0.2" 
>
	
	<requires>
		<import plugin-id="org.compiere.compilo.importer.core"
		        plugin-version="311.0.2" />
	</requires>	
	
	<runtime>
		<library id="core" path="classes/" type="code">
			<doc caption="API documentation">
				<doc-ref path="api/index.html" caption="javadoc"/>
			</doc>
			<export prefix="*"/>
		</library>
	</runtime>
	
	<extension plugin-id="org.compiere.compilo.importer.core" 
	           point-id="TableImporter" 
	           id="adProcessJasperTableImporter">
		<parameter id="class" value="org.compiere.compilo.importer.jasperreports.AD_ProcessImporter"/>
		<parameter id="tableName" value="AD_ProcessJasper"/>
		<parameter id="description" value="AD_ProcessJasper Importer"/>
	</extension>
	
</plugin>