<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web
Application 2.3//EN" "http://java.sun.com/dtd/web-
app_2_3.dtd">
<web-app>
   	<filter>
		<filter-name>jsfFilter</filter-name>
		<filter-class>org.compiere.webApp.JSFFilter</filter-class>
   	</filter>
	<filter-mapping>
		<filter-name>jsfFilter</filter-name>
     	<url-pattern>/window/*</url-pattern>
   	</filter-mapping>
</web-app>