/* ThemeAdempiereMenu Style Sheet */

.ThemeAdempiereMenu,.ThemeAdempiereSubMenuTable
{
    font-family: verdana, arial, sans-serif;
    font-size: 13px;

    padding: 0;

    white-space: nowrap;
    cursor:  default;
}

.ThemeAdempiereSubMenu
{
    position: absolute;
    visibility: hidden;

    /*
       Netscape/Mozilla renders borders by increasing
       their z-index.  The following line is necessary
       to cover any borders underneath
    */
    z-index: 100;
    border:  0;
    padding: 0;

    overflow: visible;
    border:  1px solid #8C867B;

    filter:progid:DXImageTransform.Microsoft.Shadow(color=#BDC3BD, Direction=135, Strength=4);
}

.ThemeAdempiereSubMenuTable
{
    overflow: visible;
}

.ThemeAdempiereMainItem,.ThemeAdempiereMainItemHover,.ThemeAdempiereMainItemActive,
.ThemeAdempiereMenuItem,.ThemeAdempiereMenuItemHover,.ThemeAdempiereMenuItemActive
{
    border:  0;
    cursor:  default;
    white-space: nowrap;
}

.ThemeAdempiereMainItem
{
        
    /*background-color: BLUE;*/
}

.ThemeAdempiereMainItemHover,.ThemeAdempiereMainItemActive
{
    background-color: #C6D3EF;
}

.ThemeAdempiereMenuItem
{
    background-color: WHITE;
}

.ThemeAdempiereMenuItemHover,.ThemeAdempiereMenuItemActive
{
    background-color: #C6D3EF;
}


/* horizontal main menu */

.ThemeAdempiereMainItem
{
    padding: 1px;
    border:  0;
}

td.ThemeAdempiereMainItemHover,td.ThemeAdempiereMainItemActive
{
    padding: 0px;
    border:  1px solid #3169C6;
}

.ThemeAdempiereMainFolderLeft,.ThemeAdempiereMainItemLeft,
.ThemeAdempiereMainFolderText,.ThemeAdempiereMainItemText,
.ThemeAdempiereMainFolderRight,.ThemeAdempiereMainItemRight
{
    background-color: inherit;
}

/* vertical main menu sub components */

td.ThemeAdempiereMainFolderLeft,td.ThemeAdempiereMainItemLeft
{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 2px;

    border-top: 1px solid #3169C6;
    border-bottom: 1px solid #3169C6;
    border-left: 1px solid #3169C6;

    background-color: inherit;
}

td.ThemeAdempiereMainFolderText,td.ThemeAdempiereMainItemText
{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;

    border-top: 1px solid #3169C6;
    border-bottom: 1px solid #3169C6;

    background-color: inherit;
    white-space: nowrap;
}

td.ThemeAdempiereMainFolderRight,td.ThemeAdempiereMainItemRight
{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;

    border-top: 1px solid #3169C6;
    border-bottom: 1px solid #3169C6;
    border-right: 1px solid #3169C6;

    background-color: inherit;
}

tr.ThemeAdempiereMainItem td.ThemeAdempiereMainFolderLeft,
tr.ThemeAdempiereMainItem td.ThemeAdempiereMainItemLeft
{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 1px;
    padding-right: 2px;

    white-space: nowrap;

    border:  0;
    background-color: inherit;
}

tr.ThemeAdempiereMainItem td.ThemeAdempiereMainFolderText,
tr.ThemeAdempiereMainItem td.ThemeAdempiereMainItemText
{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;

    border:  0;
    background-color: inherit;
}

tr.ThemeAdempiereMainItem td.ThemeAdempiereMainItemRight,
tr.ThemeAdempiereMainItem td.ThemeAdempiereMainFolderRight
{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 0px;
    padding-right: 1px;

    border:  0;
    background-color: inherit;
}

/* sub menu sub components */

.ThemeAdempiereMenuFolderLeft,.ThemeAdempiereMenuItemLeft
{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 1px;
    padding-right: 3px;

    border-top: 1px solid #3169C6;
    border-bottom: 1px solid #3169C6;
    border-left: 1px solid #3169C6;

    background-color: inherit;
    white-space: nowrap;
}

.ThemeAdempiereMenuFolderText,.ThemeAdempiereMenuItemText
{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;

    border-top: 1px solid #3169C6;
    border-bottom: 1px solid #3169C6;

    background-color: inherit;
    white-space: nowrap;
}

.ThemeAdempiereMenuFolderRight,.ThemeAdempiereMenuItemRight
{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;

    border-top: 1px solid #3169C6;
    border-bottom: 1px solid #3169C6;
    border-right: 1px solid #3169C6;

    background-color: inherit;
    white-space: nowrap;
}

.ThemeAdempiereMenuItem .ThemeAdempiereMenuFolderLeft,
.ThemeAdempiereMenuItem .ThemeAdempiereMenuItemLeft
{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 2px;
    padding-right: 3px;

    white-space: nowrap;

    border:  0;
    /* FIXME: pick a neutral color here or sync with the background */
    background-color: #cfcfcf;
}

.ThemeAdempiereMenuItem .ThemeAdempiereMenuFolderText,
.ThemeAdempiereMenuItem .ThemeAdempiereMenuItemText
{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;

    border:  0;
    background-color: inherit;
}

.ThemeAdempiereMenuItem .ThemeAdempiereMenuFolderRight,
.ThemeAdempiereMenuItem .ThemeAdempiereMenuItemRight
{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 0px;
    padding-right: 1px;

    border:  0;
    background-color: inherit;
}

/* menu splits */

.ThemeAdempiereMenuSplit
{
    margin:  2px;
    height:  1px;
    overflow: hidden;
    background-color: inherit;
    border-top: 1px solid #C6C3BD;
}

/* image shadow animation */

/*
    seq1: image for normal
    seq2: image for hover and active

    To use, in the icon field, input the following:
    <img class="seq1" src="normal.gif" /><img class="seq2" src="hover.gif" />
*/

.ThemeAdempiereMenuItem img.seq1
{
    display: inline;
}

.ThemeAdempiereMenuItemHover seq2,
.ThemeAdempiereMenuItemActive seq2
{
    display: inline;
}

.ThemeAdempiereMenuItem .seq2,
.ThemeAdempiereMenuItemHover .seq1,
.ThemeAdempiereMenuItemActive .seq1
{
    display: none;
}
