.mainDocumentStyle {
    background-color: #cfcfcf;
}

/* used in toolbar buttons */
.iconButtonStyle {
    background-color: #cfcfcf;
    border: 3px groove #e0e0e0;
    margin: 0px;
}

.rightLabel {
    text-align: right;
    white-space: nowrap;
}

.leftLabel {
	text-align: left;
	white-space: nowrap;
}
