.wideTableStyle {
    table-layout: fixed;
    border-style: solid;
    border-width: 1px;
}

.wideTableHeaderStyle {
    white-space: nowrap;
    border-right: solid;
    border-left: solid;
    border-width: 1px;
}
wideTableRowStyle {
    border-style: solid;
    border-width: 1px;
}

.wideTableCellStyle {
    border-style: solid;
    border-width: 1px;
}
