BODY {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color : White;
}

H1{  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 25px; 
	font-weight: bold; 
	color: #000099}
H2 {
	 font-family: Verdana, Arial, Helvetica, sans-serif; 
	 font-size: 20px; 
	 font-weight: bold; 
	 color: #000000
}
H3 {
	 font-family: Verdana, Arial, Helvetica, sans-serif; 
	 font-size: 17px; 
	 font-weight: bold; 
	 color: #000000
}
TH {
	background-color : #000099;
	color: #DEB887;
	 font-weight: bold; 
}.bg_table {
	background-color : #DEB887;
}
}.bg_cell{
	background-color : #ffffff;
}
A:ACTIVE {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:Red;
	background-color: #DEB887;
	text-decoration : underline;
	font-weight:bold;
}
 A:HOVER {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:Red;
	text-decoration : underline;
	font-weight:bold;
}
  A:LINK {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#000099;
	text-decoration : underline;
	font-weight:bold;
}
   A:VISITED {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:Purple;
	text-decoration : underline;
	font-weight:bold;
}


