body {
	margin: 13px 0px 10px 0px;
	background-color: #ffffff;
	font-size: 10px;
	font-family: verdana, arial, "sans-serif";
	color: #606060;
	}
img {
	border: 0px;
	}
#header {
	background-color: #FF7A22;
	background-image: url('header_bg.jpg');
	background-repeat: no-repeat;
	background-position: 226px 0px;
	width: 100%;
	height: 80px
	}
#header #banner {
	float: right;
	margin: 8px 5px 0px 0px;
	}
#logo {
	position: absolute;
	top: 4px;
	left: 4px;
	z-index: 200;
}
#navigation_bar {
	background-color: #f0f0f0;
	border-bottom: 1px dotted #999999;
	height: 20px;
	}
#items {
	font-size: 12px;
	width: 600px;
	margin: 5px 5px 5px 170px;
	position: relative;
	z-index: 300;
	}
#items .item {
	margin-right: 10px;
	}
.side_block {
	margin: 15px 5px 10px 5px;
	background-color: #fbfbfb;
	border: 1px solid #f0f0f0;
	}
.side_block h3 {
	font-size: 11px;
	font-weight: 100;
	width: 100%;
	margin: 0px 0px 5px 0px;
	padding: 4px 4px 4px 10x;
	background-color: #f0f0f0;
	}
.side_block h4 {
	font-size: 11px;
	color: #FF7A22;
	font-weight: bold;
	margin: 10px 5px 4px 5px;
	}
.side_block p {
	margin: 5px 5px 3px 5px;
	}
.side_block form {
	margin: 0px 0px 0px 5px;
	}
.side_block #login {
	font-size: 9px;
	}
.side_block p img {
	text-align: center;
	}
#content {
	width: 90%; 
	margin: 10px auto;
	}
#left {
	float: left;
	width: 14%;
	}
#right {
	float: right;
	width: 14%;
	}
.content_block {
	text-align: justify;
	border: 1px solid #999999;
	margin: 5px;
	width: 31%;
	float: left;
	}
.content_block p {
	margin: 0px 5px 3px 5px;
	}
.content_block h3 {
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	margin: 0px 0px 5px 0px;
	padding: 4px 4px 4px 4x;
	text-align: center;
	background-color: #f0f0f0;
	border-bottom: 1px solid #999999
	}
.content_block h4 {
	font-size: 11px;
	color: #FF7A22;
	text-align: left;
	font-weight: bold;
	margin: 10px 5px 4px 5px;
	}
#footer {
	clear: both;
	border-top: 1px dotted #999999;
	}
#credits {
	background-color: #f0f0f0;
	padding: 5px;
	text-align: center;
	}
#footer_bar {
	height: 20px;
	width: 100%;
	background-color: #FF7A22;
	}
.hide {
	display: none;
	}
.spacer {
	clear: both;
	}
.spacer hr {
	display: none;
	}
.center {
	text-align: center;
	}
#youcandoit {
	background-image: url('youcandoit.jpg');
	background-repeat: repeat-x;
	height: 165px;
	margin: 0px 30px;
	}
.data_table {
	font-size: 10px;
	font-family: verdana, arial, "sans-serif";
	margin: 5px;
	border-collapse: collapse;	
}
.data_table h2 {
	font-size: 11px;	
	margin: 5px 5px 5px 5px;
	text-align: center
}
.data_table h4 {
	font-size: 11px;
	color: #FF7A22;		
	margin: 5px 5px 5px 5px;
	text-align: center
}

.container {
	border-top-width: 0px;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	text-align: justify;	
	margin: 5px;
	float: left;
}

.container p {
	font-size: 10px;
	font-family: verdana, arial, "sans-serif";
	margin: 0px 5px 3px 5px;	
}
	
.container h3 {
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	margin: 0px 0px 5px 0px;
	padding: 4px 4px 4px 4x;
	text-align: center;
	background-color: #f0f0f0;
	border-bottom: 1px solid #999999
}

.container h4 {
	font-size: 11px;
	color: #FF7A22;
	text-align: left;
	font-weight: bold;
	margin: 10px 5px 4px 5px;
}
	
.tabSpacer {
	border-bottom: 1px solid #CCCCCC;
}
.tabSpacer p {
	margin: 0px;
}
.tab {
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
}
.tabOff {
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	background-color: #F0F0F0;	
}

.tab p, .tabOff p {
	padding: 6px 8px;
	margin: 0px;
	font-size: 11px;
	font-weight: bold;

}

.tab p a, .tabOff p a {
	text-decoration: none;
	color: #000000;
}
.tab p a:hover, .tabOff p a:hover {
	color: #666666;
}