/adempiere-3.9.4 UpdateDeploy.launch
/adempiere-3.9.4 build.launch
/adempiere-3.9.4 clean-all.launch
/adempiere-3.9.4 clean.launch
/adempiere-3.9.4 install.launch
/ModelGenerator AJAH.launch
/ModelGenerator.launch
