<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<distributable />

	<!--
		To use non XDoclet filters, create a filters.xml file that
		contains the additional filters (eg Sitemesh) and place it in your
		project's merge dir.  Don't include filter-mappings in this file,
		include them in a file called filter-mappings.xml and put that in
		the same directory.
	-->

	<!--
		To use non XDoclet filter-mappings, create a filter-mappings.xml file that
		contains the additional filter-mappings and place it in your
		project's merge dir.
	-->

	<!--
		To use non XDoclet listeners, create a listeners.xml file that
		contains the additional listeners and place it in your
		project's merge dir.
	-->

	<servlet>
		<servlet-name>GetMD5File</servlet-name>
		<servlet-class>
			org.compiere.web.GetMD5FileServlet
		</servlet-class>

		<init-param>
			<param-name>A parameter</param-name>
			<param-value>A value</param-value>
		</init-param>

	</servlet>

	<!--
		To use non XDoclet servlets, create a servlets.xml file that
		contains the additional servlets (eg Struts) and place it in your
		project's merge dir.  Don't include servlet-mappings in this file,
		include them in a file called servlet-mappings.xml and put that in
		the same directory.
	-->

	<servlet-mapping>
		<servlet-name>GetMD5File</servlet-name>
		<url-pattern>/GetMD5File</url-pattern>
	</servlet-mapping>

	<!--
		To specify mime mappings, create a file named mime-mappings.xml, put it in your project's mergedir.
		Organize mime-mappings.xml following this DTD slice:
		
		<!ELEMENT mime-mapping (extension, mime-type)>
	-->

	<!--
		To specify error pages, create a file named error-pages.xml, put it in your project's mergedir.
		Organize error-pages.xml following this DTD slice:
		
		<!ELEMENT error-page ((error-code | exception-type), location)>
	-->

	<!--
		To add taglibs by xml, create a file called taglibs.xml and place it
		in your merge dir.
	-->

	<!--
		To set up security settings for your web app, create a file named web-security.xml, put it in your project's mergedir.
		Organize web-security.xml following this DTD slice:
		
		<!ELEMENT security-constraint (display-name?, web-resource-collection+, auth-constraint?, user-data-constraint?)>
		<!ELEMENT web-resource-collection (web-resource-name, description?, url-pattern*, http-method*)>
		<!ELEMENT web-resource-name (#PCDATA)>
		<!ELEMENT url-pattern (#PCDATA)>
		<!ELEMENT http-method (#PCDATA)>
		<!ELEMENT user-data-constraint (description?, transport-guarantee)>
		<!ELEMENT transport-guarantee (#PCDATA)>
		
		<!ELEMENT login-config (auth-method?, realm-name?, form-login-config?)>
		<!ELEMENT auth-method (#PCDATA)>
		<!ELEMENT realm-name (#PCDATA)>
		<!ELEMENT form-login-config (form-login-page, form-error-page)>
		<!ELEMENT form-login-page (#PCDATA)>
		<!ELEMENT form-error-page (#PCDATA)>
	-->

	<ejb-ref>
		<ejb-ref-name>ejb/compiere/MD5</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
	</ejb-ref>

</web-app>
